.SearchBar input {
  border-radius: 8px;
  font-size: 16px;
  margin: 25px 0 25px 5px;
  padding: 5px;
  text-align: center;
  width: 45%;
}

.SearchBar .icon {
  position: relative;
  left: 30px;
}

.SearchBar button {
  border-radius: 4px;
  margin: 0;
  padding: 6px;
}
