.SearchBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 25px;
}
.SearchBar div.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.SearchBar input {
  border: 0px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 2.5px;
  padding: 8px;
  margin: 25px 0;
  width: 45%;
  text-align: center;
}

.SearchBar .icon {
  background-color: hsl(0, 0%, 100%);
  color: #757575;
  padding: 8px;
}

.SearchBar button {
  background-color: black;
  border-left: 2px solid hsl(143, 100%, 48%);
  border-top: 2px solid hsl(143, 100%, 48%);
  border-right: 2px solid hsl(143, 100%, 18%);
  border-bottom: 2px solid hsl(143 100% 18% / 1);
  border-radius: 3px;
  color: hsl(143, 100%, 48%);
  display: block;
  font-size: 20px;
  margin: 0 auto;
  padding: 8px;
}
