section.Playlist {
  border: 3px dashed hsl(143, 100%, 48%);
  border-radius: 3px;
  margin-left: 25px;
  padding: 20px;
}

button.save-playlist {
  border-radius: 8px;
  margin-top: 15px;
  padding: 4px;
}
